*.aux
*.log
*.synctex.gz
*.out
*.bbl
*.blg
*.tex.bak
*.bib.bak

% PDFs pdflatex
reportes_tareas/tarea_01.pdf
reportes_tareas/tarea_02.pdf
reportes_tareas/tarea_03.pdf
reportes_tareas/tarea_04.pdf
reportes_tareas/tarea_05.pdf
reportes_tareas/tarea_06.pdf
reportes_tareas/propuesta_proyecto.pdf

Ravent_2017_JPhysB_50_113001(Lewenstein_ED).pdf
proyecto/2102.05613.pdf
ExactDiagonalization_zhang_2010.pdf
codigos_tareas/SPDM.nb
codigos_tareas/energy_gap.nb
codigos_tareas/fluctuations.nb
codigos_tareas/kinetic_energy.nb
contestando.pdf
notas.txt
to_do_tarea-04.txt
